<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Verify</title>


  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicons/favicon.svg') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}" />
  <meta name="apple-mobile-web-app-title" content="Verify" />
  <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}" />
  

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>



  
  
  <div class="center-container">

   <div class="bar-container">
    <div class="bar"></div>
   </div>

  
    <textarea id="input-field" placeholder="Your News Here"></textarea>
    
   <button id="main-button" onclick="sendNews()">Verify</button>
  
  </div>



  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>